.logo {
  height: 75%;
  margin-right: 5px;
  display: flex;
}

.logo img {
  max-height: 50px;
  max-width: 50px;
  object-fit: contain;
  border-radius: 50%;
}
.logo > * {
  font-family: var(--logo-font);
  display: inline-flex;
  font-weight: 400;
  padding-right: 0.1em;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 660px) {
  .logo {
    justify-content: center;
  }
}
